@tailwind base;
@tailwind components;
@tailwind utilities;

.blogPage * {
  @apply transition-all duration-100;
}

.blogPage a {
  @apply text-link-blue dark:text-link hover:underline;
  text-shadow: 0 0 25px rgba(248, 178, 87, 0.5);
  text-decoration: none;
}

.blogPage h1,
h2,
h3,
h4 {
  @apply dark:text-[#e8e6e3] my-3 lg:my-4 xl:my-5 leading-7 lg:leading-8 xl:leading-9 font-semibold;
}

.blogPage p,
li {
  @apply dark:text-[#e8e6e3] my-2 lg:my-3;
}

.blogPage p {
  @apply text-neutral-700 dark:text-zinc-300 text-[1em] lg:text-[1.1em] xl:text-[1.17em];
}

.blogPage h1 {
  @apply text-[1.5em] lg:text-[1.7em] xl:text-[2em];
}

.blogPage h2 {
  @apply text-[1.3em] lg:text-[1.4em] xl:text-[1.5em];
}

.blogPage h3 {
  @apply text-[1em] lg:text-[1.1em] xl:text-[1.17em];
}

.blogPage h4 {
  @apply text-[0.8em] lg:text-[1em] xl:text-[1.17em];
}

.blogPage h1.title {
  @apply font-sans font-semibold;
}

.blogPage pre[class*='language-'] {
  margin-top: 0rem !important;
  @apply px-4 overflow-x-auto text-zinc-50;
}

.blogPage .token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: theme('colors.pink.400');
}

.blogPage .token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: theme('colors.blue.300');
}

.blogPage .token.module {
  color: theme('colors.purple.300');
}

.blogPage .token.attr-value {
  color: theme('colors.blue.300');
}

.blogPage .token.string {
  color: theme('colors.orange.300');
}

.blogPage .token.class {
  color: theme('colors.teal.300');
}

.blogPage .token.punctuation,
.token.attr-equals {
  color: theme('colors.zinc.500');
}

.blogPage .token.unit,
.language-css .token.function {
  color: theme('colors.sky.200');
}

.blogPage .token.comment {
  color: theme('colors.emerald.400');
  opacity: 0.7;
}

.blogPage .token.property,
.token.operator,
.token.combinator {
  color: theme('colors.zinc.400');
}

.blogPage .code-highlight {
  float: left;
  /* 1 */
  min-width: 100%;
  /* 2 */
}

.blogPage .code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  /* Set placeholder for highlight accent border color to transparent */
  line-height: 1.5rem;
}

.blogPage .code-line.inserted {
  background-color: theme('colors.emerald.900'
    );
  /* Set inserted line (+) color */
}

.blogPage .code-line.deleted {
  background-color: theme('colors.red.900');
  /* Set deleted line (-) color */
}

.blogPage .highlight-line {
  margin-left: -14px;
  margin-right: -16px;
  background-color: theme('colors.zinc.800');
  /* Set highlight bg color */
  border-left: 2px solid theme('colors.amber.400');
  /* Set highlight accent border color */
}

.blogPage .line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: theme('colors.zinc.500');
  content: attr(line);
}

.blogPage .rehype-code-title {
  margin: 0 !important;
  display: inline-flex;
  position: relative;
  top: 1rem;
  left: 2rem;
  background: theme('colors.zinc.900');
  color: theme('colors.zinc.100');
  font-family: theme('fontFamily.mono');
  padding: 0.25rem 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 4px solid theme('colors.indigo.600');
  font-size: 0.8rem;
}
